NODE_ENV=development
BOT_NAME=SkyVerse
SKYVERSE_PREFIX=.
OWNER_NUMBER=
LOG_LEVEL=info
AUTH_PATH=./sessions/whatsapp
DATABASE_PATH=./data/skyverse.sqlite
WHATSAPP_LOG_LEVEL=silent
AUTO_READ=true
AUTO_ONLINE=true
DEPAY_BASE_URL=https://depay.cloud
KEYRA_API_KEY=
KEYRA_BASE_URL=https://www.keyrafara.com
MENU_BANNER_ENABLED=true
MENU_BANNER_IMAGE=https://raw.githubusercontent.com/irhsrykhan01/skyverse/main/file_000000007a90720880001aa9bde3c4b7.png
MENU_BANNER_LINK=https://saweria.co/irhsrykhn
MENU_BANNER_TITLE=Support SkyVerse
MENU_BANNER_BODY=Dukung pengembangan SkyVerse
